<form actiorn = "/signup" method = "post">
  <input type="text" name="mail" placeholder="email">
  <input type="text" name="name" placeholder="name">
  <input type="date" name="birthday" placeholder="birthday">
  <input type="text" name="job" placeholder="job">
  <input type="text" name="sex" placeholder="sex">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password_comfirmation" placeholder="again">
  <input type="submit" value="登録">
</form>